#contenido {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
  font-size: 15px;
  text-align: justify;
}

h1, h2 {
  color: #003366;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
}

section div{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

article {

  width: 45%;
}

video {
  width: 100%;
}

.jR3DCarouselGallery
{
  margin-left:170px;
  margin-bottom:30px;
}

.jR3DCarouselGallery img
{
  border: 5px groove #003366;
  border-radius: 20px;
}

ul li
{
  list-style-image: url("/imagenes/logoLista.ico");
}
