#contenido {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
    font-size: 15px;
    text-align: justify;
}

h1, h2 {
    color: black;
}

section {
    display: flex;
    flex-direction: column;
}

section div {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

article {

    width: 45%;
}

video {
    width: 100%;
}
