html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    color:white;
    height: 70px;
    background-color: #003366;
    border-top: 3px solid black;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent#003366;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*  Mi estilo */

*
{
  font-family: 'Orbitron', sans-serif;
  font-size:14px;
}

nav#w0,nav#w1,nav#w4
{
  background-color: #003366;
  border-bottom: 3px solid black;
}

#w0 p,#w1 p,#w4 p
{
  font-size: 25px;
  font-weight:bold;
  color:white;
}

#w0 p,#w1 p,#w4 p
{
  -webkit-transition: color 1s linear 1s;
  -moz-transition: color 1s linear 1s;
  transition: color 1s linear 1s;
}

#w0 li a,#w1 li a,#w4 li a
{
  font-size:12px;
  font-weight: bold;
}

#w0 p:hover,#w1 p:hover,#w4 p:hover {
    color: black;
}


#w0 img,#w1 img,#w4 img
{
 -webkit-animation:spin 4s linear 2s;
 -moz-animation:spin 4s linear 2s infinite;
 animation:spin 4s linear 2s infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }

h1, h2 {
    color: #003366;
    font-weight: bold;
}

#botonR
{
  color:black;
}

.btnVolver
{
  float:right;
}
